<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
        <string>이 앱은 학생의 위치 정보를 찾기위해서 위치 정보에 접근해야합니다</string>
    </dict>
</plist>
